@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,200i,300,300i,400,400i,600,600i,700,700i,900,900i&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Source Sans Pro', sans-serif;
}
/*Contenedor - contenido del articulo*/

.container-content{
    width: 1200px;
    margin: auto; /*Centra lo que es el articulo*/
    margin-top:40px; /*Mantiene una distancia entre el slide*/
    display: flex; /*Esto es para poner el aside al lado del article*/
    align-content: Justify;
    justify-content: center;
}

article{
    background-color: white;
    width: 100%;
    padding: 20px;
    padding-bottom: 40px; /*Espaciado del final*/
    box-shadow: -10px 0 20px -30px black;
    border-radius: 6px;
    overflow: hidden; /*recortar el border-radius*/
    position: relative;
}

/*Crea la linea verde*/
article:before{
    content: '';
    width: 100%;
    height: 6px;
    position: absolute;
    top: 0;
    left: 0;
    background-color: darkgreen;
}

article h1{
    margin-top: 20px;   /*Margen superior*/
    font-weight: 500;
    font-size: 40px;
}

article p{
    margin-top: 20px;
    font-size: 20px;
    color: black;
}

article li{
    font-size: 20px;
    color: black;
    text-align: justify;
}

article img{
    width: 50%;
    margin-top: 20px;
    border-radius: 6px;
}

/*Aside de los articulos relacionados*/

.container-aside aside{
	width: 320px;
	box-shadow: 0 0 20px -20px red; 
	overflow: hidden; /*Recorta la imagen*/
	border-radius: 6px;
	margin-left: 40px;
	margin-bottom: 40px;
	padding-bottom: 20px;
	background: white;
}

.container-aside aside img{
	width: 100%;
}

.container-aside aside h2,
.container-aside aside p{
	margin-top: 20px;
	padding: 0px 20px;
}

.container-aside aside h3,
.container-aside aside hr{
	background: #830808;
	color: white;
	font-size: 20px;
}

.container-aside aside li{
	margin: 10px;
	color: back;
}

.container-aside aside p{
	text-align: justify;
	font-size: 18px;
}

.container-aside aside button{
	margin-top: 20px;
	margin-left: 20px;
	padding: 10px 50px;
	font-size: 16px;
	color: white;
	background: darkblue;
	border: none;
	cursor: pointer;
	border-radius: 6px;
}

.container-aside aside button:hover{
	opacity: 0.8;
}

/*Footer - Pie de pagina*/

.container-footer{
	width: 100%;
	padding: 40px 0;
	background: black;
	margin-top: 40px;
}

.container-footer footer{
	max-width: 1200px;
	margin: auto;
}

.container-footer footer .logo-footer{
	text-align: center;
}

.container-footer footer .logo-footer img{
	width: 100px;
	border-radius: 100%;
}

.container-footer footer .redes-footer{
	display: flex;
	justify-content: center;
	margin-top: 20px;
}

.container-footer footer .redes-footer .icon-redes-footer{
	font-size: 20px;
	margin: 20px;
	background: #efefef;
	width: 50px;
	height: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 100%;
	color: #a2a2a2;
}

footer .redes-footer .fa-facebook-f:hover{
	background: #41579A;
	color: #fff;
}

footer .redes-footer .fa-instagram:hover{
	background: linear-gradient(to top right, #FCDE30, #E9712A, #D2313B, #AE4198, #7540A1, #5443A8);
	color: #fff;
}

footer .redes-footer .fa-twitter:hover{
	background: #25E0DE;
	color: #fff;
}

footer .redes-footer .fa-youtube:hover{
	background: #E12828;
	color: #fff;
}

.container-footer footer hr{
	margin-top: 20px;
	border: none;
	height: 2px;
	background: #a8a8a87a;
}

.container-footer h4{
	text-align: center;
	margin-top: 20px;
	color: #8e8e8e;
	font-weight: 500;
}

/*Responsive Desing - Adaptable a dispositivos moviles*/

@media screen and (max-width: 1220px){
    .container-content,
    .container-footer footer{
        max-width: 1000px;
        padding: 0 20px;
    }

}


@media screen and (max-width: 1020px){
    .container-content{
        width: 100%;
        flex-direction: column;
    }

    article{
        box-shadow: 0 0 0 0;
    }

    .container-aside{
        display: flex;
        justify-content: center;
    }

    .container-aside aside{
        max-width: 300px;
        margin: 10px;
    }
}

@media screen and (max-width: 800px){
	.container-aside{
		flex-wrap: wrap;
	}
}